*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    width:100%;
    overflow-x: hidden;
}
body{
    background-color:#FCFCFC ;
    width:100%;
    overflow-x: hidden;
}

.header{
    background-color: #06D6A0;
    padding:20px 20px;
    width: 100%;
}

.header_logo-sub{
    font-weight:bold ;
    text-transform: uppercase;
    color:#f2f2f2;
    font-size: 1rem;
}
/* .header_logo-sub-alt{
    font-family: ;
    
} */
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width:100%
    
}

.header_content ul{
    display: flex;;
    justify-content: space-around;
} 

.header_content ul a{
    margin-left:50px;
    list-style-type: none;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.header_content ul a:hover{
    color:white;
    cursor:pointer;
}


.header_content ul a li{
    text-transform: uppercase;
}


.home_hero_img{
    width:20%;
    min-width:300px;
    border-radius: 100%;
    margin-bottom: 50px;
}

.home_hero p{
    margin-bottom: 3%;
    text-transform: uppercase;
    font-weight: 500;
    padding:20px;
    font-size: 0.9rem;
    width:80%;
    text-align: center;
}


main{
    display:flex;
    justify-content: center;
    width:100vw;
}


.home_hero{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.home_hero_alt-text-color{
    color: #06D6A0;
}

.home_hero h1{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.home_hero_button{
    text-decoration: none;
    color:white;
    background-color: #06D6A0;
    border-radius: 10px;
    padding:20px 120px;
    margin-bottom: 150px;
    transition: transform 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 10px#c8cfcd;
    text-align: center;
}

.home_hero_button:hover{
    background-color: #08aa7f;
    transform: translateY(-5px);
}


#about{
    background-color:#f2f2f2 ;
}
.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}
.main_container>p{
    padding:20px;
}

.main_container h2{
    margin: 60px 5px;
    font-size: 2.5rem;
}

.main_container-split{
    /* border:1px solid black; */
    display: flex;
    justify-content: space-around;
    padding-top:30px;
    padding-bottom: 140px;
    flex-wrap: wrap;

}

.main_container-split-1, .main_container-split-2{
    /* border:1px solid black; */
    flex:1;
    text-align: justify;
    padding:30px 30px;
    margin:10px;
}

.main_container-split-1 h3, .main_container-split-2 h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.main_container-split-1 p {
    margin-bottom: 15px;
}
.main_container-split-2-skills{
    display:flex;
    flex-wrap: wrap;

}

.link-text{
    font-weight: 600;
    color:#08aa7f
}
.main_container-split-2-skills li{
    list-style: none;
    background-color: #06D6A0;
    margin:5px 5px;
    color:#f2f2f2;
    padding:10px 20px;
    border-radius: 5px;;
    font-weight: 500;
}


/*TODO: abstract the link button style*/
.main_container-split-1-contact-btn{

    background-color: #06D6A0;
    color:#f2f2f2;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px#c8cfcd;
    transition: transform 0.3s;
    text-transform: uppercase;
    font-weight: 600;
}


.main_container-split-1-contact-btn:hover{
        background-color: #08aa7f;
        transform: translateY(-5px);
}


.projects_container{
    display:flex;
    width:90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}

.project_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(211, 211, 211);
    width:400px;
    min-height:465px;
    background-color:rgb(235, 235, 235);
   border-radius: 10px;
    box-shadow: 0px 3px 1px rgb(222, 222, 222);
    margin:20px;
    padding:20px;
}


.project_card-tile{
    height:1%; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.project_card-title{
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 30px;;
}

.project_card-stack{
    display:flex;
    flex-wrap: wrap;

}

.project_card-stack li{
    list-style: none;
    margin:5px 5px;
    background-color: #939393;
    color:white;
    border-radius: 5px;
    font-size: 0.6rem;
    padding:5px 10px;
}

.project_card img{
    display:block;
    margin:0 auto;
    width:150px;
}


.repository_btn{
    margin-top: auto;
    background-color: #06D6A0;
    color:#f2f2f2;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px#c8cfcd;
    transition: transform 0.3s;
    font-weight: 600;
}


.repository_btn:hover{
    background-color: #08aa7f;
}
.fa-brands, .fa-solid{
    font-size: 1.5rem;
    margin-left:10px;
}

#contact{
    /* border:1px solid black; */
    margin-top:30px;
    background-color:#f2f2f2 ;
    width:100%;
}

.contact-container{
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    height:400px;
    width: 100%;
    flex-wrap: wrap;
}

.contact-text{
    flex-grow:2;
    /* max-width: 70%; */
    margin:10px 30px;
}

.contact-text p{
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
}

.contact-methods{
    flex-grow:1;

}

.contact-methods ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.contact-icon-resize{
    font-size: 2.5rem;
    margin-left: 25px;
    margin-right: 25px;
    
}
.contact-methods ul li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
}

.contact-methods ul li a{
    color:black;
}

.contact-methods ul li a:hover{
    /* background-color: #06D6A0; */
    color: #06D6A0;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color:black;
    height:50px;
}

footer p {
    color:white;
}


@media(max-width:480px){
    .home_hero_button{
        width:60%;
    }

    .main_container>p{
        width:90%;
        text-align: justify;
    }

    .main_container-split-1 > p{
        width:100%;
        text-align: justify;

    }


}

@media (max-width: 768px){
    
    .main_container-split{
        flex-direction: column;
    }

    .header_content {
        justify-content: center;
    }
    .header_content ul{
        /* border: 1px solid black; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header_content ul li {
        padding:10px 60px;
        border: 3px solid #02cf98;
        margin:5px;
        border-radius: 10px;
    }

    .header_content ul a{
        margin-left: 0;
    }

    .contact-text p{
        font-size: 1.5em;
        padding:20px;
    }

    .home_hero_img{
        width:50%;
    }


}


